@font-face {
    font-family: 'cool';
    src: url('../fonts/coolveticarg.ttf');
}

html, body {
  padding: 0;
  margin:0;
  height: 100vh;
  width: 100%;
  font-family: 'cool';
}

body {

}

h1, h2, p, label {
	color: white;
  padding: 0;
  margin:0;
}

button:hover {
  opacity: .7;
}

.background-container {
  width: 100%;
  height: 100vh;
  background: url(../img/startpage.jpg) no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  position: relative;
}

.contact-button {
  width: 100%;
  height: 40px;
  position: absolute;
  float: left;
  z-index: 999;
  box-sizing: border-box;
  background-color: green;
}

.contact-button > a {
  float: right;
}

.contact-button > a > button {
  height: 40px;
  width: 80px;
  cursor: pointer;
}

.main-content-flex {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.main-content-container {
  width: 400px;
  height: 500px;
}

.main-image-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  padding: 10px;
}

.main-image-flex > a { /*REQUIRED TO KEEP IMAGE RIGHT SIZE PT.1*/
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.main-image-flex > a > img { /*REQUIRED TO KEEP IMAGE RIGHT SIZE PT.2*/
  height: 100%;
}

.heading {
  width: 100%;
  height:40px;
  line-height: 40px;
}

.login-text {
  width: 100%;
  height: 30px;
  line-height: 30px;
}

.login-flex {
  display: flex;
  width: 100%;
  height:210px;
  justify-content: center;
  align-items: center;
  background-color: pink;
}

.login {

}

.submit-container {
  height: 30px;
}

.submit-container > label {
  float: left;
  margin-left: 20px;
}

.submit-container > button {
  float: right;
  margin-right: 20px;
  height: 25px;
  width: 60px;
  cursor: pointer;
}

.message {
  width: 100%;
  margin-top: 2px;
  text-align: center;
  background-color: rgba(0,0,0,0.2);
  border-radius: 20px;
  width: 90%;
  margin: auto;
}

.copyright {
  width: 100%;
  height:20px;
  line-height: 20px;
}

input[type=text], input[type=password] {
  width: 100%;
  font-family: 'cool';
  text-align: center;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 20px;
}

button {
  background-color: purple;
  color: white;
  border: none;
  font-family: 'cool';
}






@media (min-width: 768px) {

}

/*END OF START PAGE*/
