@font-face {
    font-family: cool;
    src: url(../coolveticarg.ttf);
}

html, body {
  padding: 0;
  margin:0;
  height: 100%;
  width: 100%;
}

body {
  font-family: cool;
}

h1, p {
	color: white;
  padding: 0;
  margin:0;
}

a:hover {
  opacity: .7;
}

.background-container {
  width: 100%;
  height: 100%;
  background: url(../img/startpage.jpg) no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.contact-button {
  width: 100%;
  height: 20px;
  background-color: yellow;
  position: absolute;
  float: left;
  z-index: 999;
}

.contact-button > a {
  float: right;
}

.main-content-flex {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.main-content-container {
  width: 400px;
  height: 500px;
  background-color: brown;
}

.main-image-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-color: green;
  box-sizing: border-box;
  padding: 10px;
}

.main-image-flex > a { /*REQUIRED TO KEEP IMAGE RIGHT SIZE PT.1*/
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: yellow;
}

.main-image-flex > a > img { /*REQUIRED TO KEEP IMAGE RIGHT SIZE PT.2*/
  height: 100%;
}

.heading {
  width: 100%;
  height:100px;
  background: purple;
}

.enter-button {
  width: 100%;
  height:100px;
  background-color: pink;
}

.copyright {
  width: 100%;
  height:100px;
  background-color: magenta;
}






@media (min-width: 768px) {

}

/*END OF START PAGE*/
