:root {
  --border-lines: 1px solid rgba(0, 0, 0, .3);
}

@font-face {
    font-family: 'cool';
    src: url('../fonts/coolveticarg.ttf');
}

html, body {
  padding: 0;
  margin:0;
  height: 100vh;
  width: 100%;
  font-family: 'cool';
}

h1, h2, p, label {
	color: white;
  padding: 0;
  margin:0;
}

button:hover {
  opacity: .7;
}

.background-container {
  width: 100%;
  height: 100vh;
  background: url(../img/startpage.jpg) no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  padding: 0;
  margin:0;
}

header {
  width: 100%;
  margin: 0;
  padding: 0;
}

.contact-button {
  width: 100%;
  height: 40px;
  position: absolute;
  box-sizing: border-box;
  background-color: green;
  padding: 0;
  margin:0;
}

.contact-button > a {
  float: right;
  padding: 0;
  margin:0;
}

.contact-button > a > button {
  height: 40px;
  width: 80px;
  cursor: pointer;
  padding: 0;
  margin:0;
}

.main-content-flex {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.main-content-container {
  width: 400px;
  height: 500px;
}

.main-image-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  padding: 10px;
}

.main-image-flex > a { /*REQUIRED TO KEEP IMAGE RIGHT SIZE PT.1*/
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.main-image-flex > a > img { /*REQUIRED TO KEEP IMAGE RIGHT SIZE PT.2*/
  height: 100%;
}

.heading {
  width: 100%;
  height:40px;
  line-height: 40px;
  background-color: purple;
}

.login-text {
  width: 100%;
  height: 30px;
  line-height: 30px;
}

.login-flex {
  display: flex;
  width: 100%;
  height:210px;
  justify-content: center;
  align-items: center;
  background-color: pink;
}

.submit-container {
  height: 30px;
}

.submit-container > label {
  float: left;
  margin-left: 20px;
}

.submit-container > button {
  float: right;
  margin-right: 20px;
  height: 25px;
  width: 60px;
  cursor: pointer;
}

.message {
  width: 100%;
  margin-top: 2px;
  text-align: center;
  background-color: rgba(0,0,0,0.2);
  border-radius: 20px;
  width: 90%;
  margin: auto;
}

.copyright {
  width: 100%;
  height:20px;
  line-height: 20px;
}

input[type=text], input[type=password] {
  width: 100%;
  font-family: 'cool';
  text-align: center;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 20px;
}

button {
  background-color: purple;
  color: white;
  border: none;
  font-family: 'cool';
}

/*NAVIGATION*/
header {
  width: 100%;
  height: 125px;
  text-align: center;
  position: absolute;
  z-index: 999;
}

.nav-img {
  width: 100%;
  background: url(../img/headerimg.jpg);
  background-size: cover;
  background-position: 0% 5%;
  background-repeat: no-repeat;
}

.nav-img > img {
  height: 100px;
}

.open-nav {
  width: 100%;
  height: 25px;
}

.open-nav > button {
  width: 100%;
  height: 25px;
  cursor: pointer;
  background-color: #4dc176;
  border-radius: 10px;
  transition-duration: .5s;
}

.open-nav > button:hover {
  border-radius: 0px;
}

.downarrow {
  height: 10px;
  transition-duration: .5s;
}

.downarrow.flip {
  transform: rotate(180deg);
}

nav {
  overflow: visible;
  width: 100%;
}

.menu {
  width: 100%;
  background-color: #4dc176;
  z-index: 999;
  display: none;
}

nav > ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

li > a {
  display: block;
  transition-duration: 1s;
  color: white;
  font-size: 18px;
}

li > a:hover {
  width: 100%;
  border-radius: 10px;
  background-color: green;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

/*NAVIGATION END*/

.main-body-container {
  width: 100%;
  height: auto;
  padding-top: 125px;
  box-sizing: border-box;
}

.main-body {
  width: 100%;
  height: auto;
  background-color: blue;
  display: flex;
  padding: 10px;
}

.register-form-container {
  background-color: pink;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 500px;
  border-radius: 20px;
  box-sizing: border-box;
}

.title {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: green;
  border-bottom: var(--border-lines);
  padding-left: 10px;
}

.form-container {
  background-color: yellow;
  border-radius: 20px;
  height: 380px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.form-container > form > label {
 width: 30%;
 box-sizing: border-box;
}

.form-container > form > input {
  border-radius: 15px;
  height: 30px;
  width: 100%;
  box-sizing: border-box;
}

.submit {
  margin-top: 20px;
}





@media (min-width: 768px) {

}

/*END OF START PAGE*/
